{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <h1>Notre application !</h1>
    <div class="col">
        <div class="card">
            <img src="https://picsum.photos/400/400" class="img-fluid" alt="image du produit" srcset="">
            <div class="card-body">
                <h4 class="card-title"></h4>
            </div>
        </div>
    </div>
{% endblock %}


